.auth-form-input-wrapper {
  position: relative;
  height: 4rem;
  width: 100%;
}

.auth-form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.2s ease-out;
  font-family: var(--text-font);
  font-weight: 500;
  color: var(--secondary);
}

.auth-form-label.active {
  transform: translateY(-110%);
  font-size: 0.7rem;
}

.auth-form-input {
  height: 100%;
  width: 100%;
  padding-top: 1.3rem;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
}
