.fragrance-catalog-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 1800px) {
  .fragrance-catalog-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1400px) {
  .fragrance-catalog-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .fragrance-catalog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .fragrance-catalog-container {
    grid-template-columns: 1fr;
  }
}
